.file-list {
    margin: 1rem 9rem 0rem 9rem;
}

.file-list-header {

    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
}

.file-list-name{
    grid-column-start: 2;
}

.file-list-date{
    grid-column-start: 4;
    justify-self: center;
}

.file-list-size{
    grid-column-start: 5;
    justify-self: center;
}

.file-plate{
    margin: 0rem 8.5rem 0rem 8.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
}
