.navbar {
    background: var(--color-background-navbar);
    width: 100vw;
    height: var(--height-navbar);
    color: var(--color-font-navbar);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9;
    top: 0;

    -webkit-box-shadow: 0px 1px 22px 2px rgba(47, 53, 66, 0.39);
    -moz-box-shadow: 0px 1px 22px 2px rgba(47, 53, 66, 0.39);
    box-shadow: 0px 1px 22px 2px rgba(47, 53, 66, 0.39);
}

.logo-container {
    width: 5%;
    height: 100%;
    display: flex;
    padding-left: 4rem;
    justify-content: start;
    align-items: center;
}

.logo-container a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container a:hover{
    opacity: 1;
    transition: filter 0.5s ease-out;
    filter: invert(17%) sepia(11%) saturate(1099%) hue-rotate(183deg) brightness(20%);
}

.navbar-logo {
    pointer-events: none;
    padding-bottom: 0.1rem;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(79deg) brightness(103%) contrast(96%);
    width: 3rem;
    height: 3rem;
}

.navbar-header {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-header a {
    text-decoration: none;
    padding-left: 0.2rem;
    padding-bottom: 0.2rem;
    font-weight: bolder;
    font-size: 2rem;
    color: unset;
}

.navbar-header a:hover, .auth-container div a:hover {
    text-decoration: none;
    transition: color 0.5s ease-out;
    color: var(--color-font-main);
    opacity: 1;
}

.auth-container {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 4rem;
}

.auth-container div {
    padding-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.auth-container div a {

}
