.file{
    margin: 0.5rem 9rem;
    background: var(--color-background-container);
    height: 5rem;

    border-radius: 0.2rem;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
}
.file-img{
    justify-self: center;
    width:3rem;
    height: 3rem;
}
.file-date, .file-size{
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-name{
    grid-column-start: 2;
    display: flex;
    justify-content: start;
    align-items: center;
}

.file-date{
    grid-column-start: 5;
    justify-self: center;
}

.file-size{
    grid-column-start: 6;
    justify-self: center;
}
